#logo{
	height: 70px;
}

.bg-primarybg{
	background-color:#eabbe9 ;
}

.bg-darky{
	background-color:#750721 ;
}

.btn-darky{
	background-color:#750721 ;
}
.text-light2{
	color: #750721;
}


.bg-darkyy{
	background-color:#f1a8ed ;
}
